@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');
section{
    font-family: "Anton", sans-serif;
    border-bottom: 1px solid grey;
}
section h1{
    font-size: 75px;
}
section h3{
    font-size: 50px;
}
.col-1{
    font-size: 12px;
    padding: unset;

}
span{
    flex-grow: 1;
    text-align: center;
    background-color: inherit;
    border-radius: 20px;
    font-size: 13px;
}
.red {
    background-color:#E6563B;
}
.orange{
    background-color: #EB9D3A;

}
.green{
    background-color: #7CB06C;

}
.blue{
    background-color: #00ABA9;

}
.circle{
    color: #F0F0F0;
    border-radius: 999px;
    height: 95px;
    width: 95px;
    border: 5px solid;
}

.circle2 {
    color: #000;
    border-radius: 999px;
    height: 18px;
    width: 18px;
    font-family: "Anton",sans-serif;
}

* {
    background-color: #E6E6E6;
}

main {
    width: 70%;
    font-family: "Abel", sans-serif;
}
h6 {
    font-family: "Abel", sans-serif;
    height: 20px;
}
aside{
    width: 30%;
    font-family: "Anton", sans-serif;
    font-size: 25px;
}
aside .text{
    font-family: "Abel", sans-serif;
    font-size: 17px;
}
aside img{
    width: 75px;
    height: 75px;
    border: 5px solid lightgray;
}
.card {
    border: none;
    padding: unset;
    width:400px;
    height: 250px;
}
.card-img-top {
    border: 5px solid lightgray;
    max-height: 235px;
    width: 100%;
    object-fit: cover;
}

.card-text {
    font-size: 10px;
    font-family: "Abel", sans-serif;
}

@media screen and (max-width: 769px){
a.navbar-brand {
     display: none;
 }
}


